* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.container3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.container4 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.container5 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}